@media (max-width: 575.98px) {
  .btn-objednat {
    display: none;
  }
  .katalog {
    display: none;
  }
  .main_Page {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    border-left: none;
  }
  .main_Page .nadpis-box {
    padding-left: 1rem;
  }
  .main_Page .nadpis-box h1 {
    font-size: 2rem;
    letter-spacing: -1px;
  }
  .main_Page .nadpis-box h2 {
    font-size: 2rem;
    letter-spacing: -1px;
    margin-top: -1rem;
  }
  .a {
    height: 20vh;
  }
  .a .about-box {
    position: absolute;
    top: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 2rem;
  }
  .a .about-box h1 {
    font-size: 22px;
  }
  .a .about-box p {
    font-size: 12px;
    padding-right: 42%;
  }
  .b {
    height: 10vh;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .b .doba-box {
    position: absolute;
    right: 3rem;
  }
  .b .doba-box h1 {
    padding-bottom: 0.25rem;
    font-size: 18px;
  }
  .b .doba-box p {
    font-size: 12px;
  }
  .b .doba-box .last {
    padding-top: 0.5rem;
  }
  .absolute_Img {
    border-left: none;
    height: 45vh;
  }
  .absolute_Img img {
    height: 17.5rem;
    width: 20rem;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .katalog {
    height: 6.5rem;
    width: 6.5rem;
    right: 1.5rem;
  }
  .katalog p {
    font-size: 13px;
  }
  .btn-objednat {
    right: 10%;
    top: 40%;
    height: 5rem;
    width: 5rem;
  }
  .btn-objednat p {
    font-size: 11px;
  }
  .main_Page {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .main_Page .nadpis-box {
    padding-left: 3rem;
  }
  .main_Page .nadpis-box h1 {
    font-size: 3rem;
    letter-spacing: -1px;
  }
  .main_Page .nadpis-box h2 {
    font-size: 3rem;
    letter-spacing: -1px;
    margin-top: -1rem;
  }
  .a {
    height: 27.5vh;
  }
  .a .about-box h1 {
    font-size: 22px;
  }
  .a .about-box p {
    font-size: 12px;
  }
  .b {
    height: 10vh;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .b .doba-box {
    position: absolute;
    right: 7.5rem;
  }
  .b .doba-box h1 {
    padding-bottom: 0.25rem;
    font-size: 18px;
  }
  .b .doba-box p {
    font-size: 12px;
  }
  .b .doba-box .last {
    padding-top: 0.5rem;
  }
  .absolute_Img {
    height: 25vh;
  }
  .absolute_Img img {
    height: 20rem;
    width: 15rem;
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 20%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .katalog {
    height: 6.5rem;
    width: 6.5rem;
    right: 1.5rem;
  }
  .katalog p {
    font-size: 13px;
  }
  .btn-objednat {
    right: 20%;
    top: 40%;
    height: 5rem;
    width: 5rem;
  }
  .btn-objednat p {
    font-size: 11px;
  }
  .main_Page {
    height: 90vh;
  }
  .main_Page .nadpis-box {
    padding-top: 14vh;
    padding-left: 3rem;
  }
  .main_Page .nadpis-box h1 {
    font-size: 5rem;
    letter-spacing: 0px;
  }
  .main_Page .nadpis-box h2 {
    font-size: 5rem;
    letter-spacing: 0px;
  }
  .a {
    height: 25vh;
  }
  .a .about-box h1 {
    font-size: 24px;
  }
  .a .about-box p {
    font-size: 13px;
  }
  .b {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 10vh;
  }
  .b .doba-box {
    position: absolute;
    right: 7rem;
  }
  .b .doba-box h1 {
    padding-bottom: 0.25rem;
    font-size: 20px;
  }
  .b .doba-box p {
    font-size: 13px;
  }
  .b .doba-box .last {
    padding-top: 0.5rem;
  }
  .absolute_Img {
    height: 25vh;
  }
  .absolute_Img img {
    height: 30rem;
    -o-object-fit: cover;
       object-fit: cover;
    width: 25rem;
    position: absolute;
    top: -10%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .katalog {
    height: 7.5rem;
    width: 7.5rem;
    right: 1.5rem;
  }
  .katalog p {
    font-size: 14px;
  }
  .btn-objednat {
    right: -25%;
  }
  .main_Page {
    height: 90vh;
  }
  .main_Page .nadpis-box {
    padding-top: 14vh;
    padding-left: 3rem;
  }
  .main_Page .nadpis-box h1 {
    font-size: 6.5rem;
    letter-spacing: 0px;
  }
  .main_Page .nadpis-box h2 {
    font-size: 6rem;
    letter-spacing: 0px;
  }
  .a .about-box {
    top: 30%;
  }
  .a .about-box p {
    padding-right: 22%;
  }
  .b {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .b .doba-box {
    top: 38%;
  }
  .b .doba-box h1 {
    padding-bottom: 0.5rem;
  }
  .b .doba-box .last {
    padding-top: 0.5rem;
  }
  .absolute_Img {
    border-left: 0.5px solid #b1b1b1;
    height: 50vh;
    position: relative;
  }
  .absolute_Img img {
    height: 25rem;
    position: absolute;
    top: 20%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 1200px) and (max-width: 1479.98px) {
  .katalog {
    height: 8.5rem;
    width: 8.5rem;
    right: 3rem;
  }
  .katalog p {
    font-size: 14px;
  }
  .btn-objednat {
    right: -15%;
  }
  .main_Page {
    height: 90vh;
  }
  .main_Page .nadpis-box {
    padding-top: 14vh;
    padding-left: 3rem;
  }
  .main_Page .nadpis-box h1 {
    font-size: 7rem;
  }
  .main_Page .nadpis-box h2 {
    font-size: 6.8rem;
  }
  .a .about-box {
    bottom: 40%;
  }
  .a .about-box p {
    padding-right: 40%;
  }
  .b .doba-box {
    top: 35%;
  }
  .b .doba-box h1 {
    padding-bottom: 0.5rem;
  }
  .b .doba-box .last {
    padding-top: 0.5rem;
  }
  .absolute_Img img {
    top: 30%;
    left: 50%;
  }
}
/*# sourceMappingURL=style.css.map */