.uvodka {
  min-height: 100vh;
  background: lightcoral;
  overflow: hidden;
  .navbar-sekce {
    background: transparent;
    height: 7.5vh;
    text-align: center;
    ul {
      li {
        padding-top: 1.5rem;
        display: inline-block;
        a {
          padding: 0rem 2rem;
          &:hover {
            color: white;
          }
        }
      }
    }
  }

  img {
    position: absolute;
    height: 30vh;
    bottom: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
//
//
.main_Content {
  height: 92.5vh;
  z-index: 3;
  .bigText-box {
    padding-top: 3rem;
    .bigText {
      font-size: 18rem;
      line-height: 15rem;
    }
  }
}
.main_Content2 {
  height: 92.5vh;
  background: rgb(97, 79, 79);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  .cakeAbsolute1 {
    height: 22rem;
    width: 40rem;
    object-fit: cover;
    margin-top: -1rem;
    z-index: 1;
  }
  .cakeAbsolute {
    height: 22rem;
    width: 40rem;
    object-fit: cover;
    margin-top: 2rem;
    z-index: 1;
  }
}

//informace
//swiper
.informace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
  }
}
.informace2 {
  height: 70vh;
  background: rgb(149, 129, 129);
  .textik {
    padding-top: 16%;
    h1 {
      color: white;
      font-size: 4rem;
    }
    p {
      letter-spacing: 0.5px;
      padding-top: 1rem;
    }
  }
}

//objednavky
//////
//
//
//
//
.objednavky {
  background: rgb(146, 145, 145);
  height: auto;
  .textik {
    padding-top: 7%;
    h1 {
      color: white;
      font-size: 4rem;
    }
    p {
      letter-spacing: 0.5px;
      padding-top: 1rem;
    }
  }
}
