.uvodka {
  min-height: 100vh;
  overflow: hidden;
  background: #9ddcdc;
  z-index: 5;
}

.uvodka .image-box .cake1 {
  position: absolute;
  height: 10rem;
  left: 5%;
  top: 10%;
  z-index: -1;
}

.uvodka .image-box .cake2 {
  position: absolute;
  height: 10rem;
  top: 80%;
  right: 10%;
  z-index: -1;
}

.uvodka .image-box .cake3 {
  position: absolute;
  height: 10rem;
  left: 23%;
  bottom: -1%;
}

.uvodka .image-box .cake4 {
  position: absolute;
  height: 10rem;
  left: 17.5%;
  top: 45%;
  z-index: -1;
}

.uvodka .image-box .cake5 {
  position: absolute;
  height: 10rem;
  top: 5%;
  right: 7%;
  z-index: -1;
}

.uvodka .image-box .cake6 {
  position: absolute;
  height: 10rem;
  top: 50%;
  z-index: -1;
  left: 73%;
}

.uvodka .image-box .cake7 {
  position: absolute;
  height: 10rem;
  left: 5%;
  bottom: 10%;
  z-index: -1;
}

.uvodka .text-box {
  margin-top: 7.5vh;
  font-family: "Dancing Script", cursive;
  z-index: 5;
  color: #dd890b;
}

.uvodka .text-box h1 {
  font-size: 18rem;
}

.uvodka .text-box h2 {
  font-size: 16rem;
  margin-top: -7.5rem;
}

.uvodka .text-box h3 {
  font-size: 14rem;
  margin-top: -6rem;
}

.uvodka .text-box p {
  font-size: 24px;
  padding: 0rem 20%;
}

.uvodka .btn {
  background: #2a98fe;
  border-radius: 25px;
  padding: 0.2rem 2.5rem 0.2rem 2.5rem;
  font-size: 24px;
  margin-top: 2rem;
  color: #fff;
  --animate-duration: 1.5s;
  font-family: "Dancing Script", cursive;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.uvodka .btn:hover {
  background: #0079e9;
  color: #fff;
}

.main_Content {
  height: 92.5vh;
  z-index: 3;
}

.main_Content .bigText-box {
  padding-top: 3rem;
}

.main_Content .bigText-box .bigText {
  font-size: 18rem;
  line-height: 15rem;
}

.main_Content2 {
  height: 92.5vh;
  background: #614f4f;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

.main_Content2 .cakeAbsolute1 {
  height: 22rem;
  width: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -1rem;
  z-index: 1;
}

.main_Content2 .cakeAbsolute {
  height: 22rem;
  width: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 2rem;
  z-index: 1;
}

.informace {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.informace .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.informace .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
}

.informace2 {
  height: 70vh;
  background: #958181;
}

.informace2 .textik {
  padding-top: 16%;
}

.informace2 .textik h1 {
  color: white;
  font-size: 4rem;
}

.informace2 .textik p {
  letter-spacing: 0.5px;
  padding-top: 1rem;
}

.objednavky {
  background: #929191;
  height: auto;
}

.objednavky .textik {
  padding-top: 7%;
}

.objednavky .textik h1 {
  color: white;
  font-size: 4rem;
}

.objednavky .textik p {
  letter-spacing: 0.5px;
  padding-top: 1rem;
}

.sipka {
  margin-top: -20rem;
  /* Common Mouse Scroll Ele */
}

.sipka .card {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px 50px;
  width: 100%;
  height: 500px;
  border-radius: 4px;
  background-size: cover !important;
  background-position: center !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  background: url(../images/concrete-road-surrounded-by-trees-831243.jpg);
}

.sipka .card__content {
  font-family: monospace;
  font-weight: 600;
  color: #999999;
  line-height: 30px;
  font-size: 1rem;
}

.sipka .scroll-down {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 75px;
  height: 80px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sipka .scroll-down > label {
  pointer-events: none;
  font-family: monospace;
  font-weight: 600;
  font-size: 1.1rem;
  color: #dffffd;
}

.sipka .scroll-down {
  height: 100px;
}

.sipka .scroll-down span {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 60px;
  border: 2px solid #f90;
  border-radius: 50px;
  top: 5px;
}

.sipka .scroll-down span::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #fff;
  -webkit-animation: animateMousePointer 1.5s infinite;
          animation: animateMousePointer 1.5s infinite;
}

@-webkit-keyframes animateMousePointer {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes animateMousePointer {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
/*# sourceMappingURL=style.css.map */