.katalog {
  position: absolute;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background: #e01616;
  top: 7rem;
  -webkit-box-shadow: -20px 20px 60px #555454, 20px -20px 60px #e4e4e4;
          box-shadow: -20px 20px 60px #555454, 20px -20px 60px #e4e4e4;
  right: 6rem;
  cursor: pointer;
}

.katalog p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "EB Garamond", serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
}

.btn-objednat {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background: #1c2d90;
  -webkit-box-shadow: 20px 20px 60px #555454, -20px -20px 60px #e4e4e4;
          box-shadow: 20px 20px 60px #555454, -20px -20px 60px #e4e4e4;
  position: absolute;
  top: 25%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.btn-objednat p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "EB Garamond", serif;
  font-size: 13px;
  letter-spacing: 2px;
  color: white;
}

.main_Page {
  height: 90vh;
  border-left: 0.5px solid #b1b1b1;
  overflow: hidden;
}

.main_Page .nadpis-box {
  padding-top: 12vh;
  padding-left: 2rem;
}

.main_Page .nadpis-box h1 {
  font-family: "EB Garamond", serif;
  font-size: 9rem;
  font-weight: 200;
  letter-spacing: 8px;
}

.main_Page .nadpis-box h2 {
  font-family: "EB Garamond", serif;
  font-size: 9rem;
  font-weight: 200;
  margin-top: -2.5rem;
  letter-spacing: 8px;
}

.a {
  height: 50vh;
  position: relative;
  padding-left: 5rem;
}

.a .about-box {
  position: absolute;
  bottom: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.a .about-box h1 {
  font-family: "EB Garamond", serif;
  font-weight: 100;
  font-size: 28px;
}

.a .about-box p {
  font-size: 14px;
  font-family: "EB Garamond", serif;
  font-weight: 300;
  word-spacing: -1px;
  letter-spacing: 0px;
  padding-right: 60%;
  margin-top: -0.5rem;
  padding-left: 0.4rem;
  border-left: 3px solid #e01616;
}

.b {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b .doba-box h1 {
  font-family: "EB Garamond", serif;
  font-weight: 100;
  font-size: 22px;
}

.b .doba-box p {
  font-size: 14px;
  font-family: "EB Garamond", serif;
  font-weight: 300;
  word-spacing: -1px;
  letter-spacing: 0px;
  margin-top: -0.5rem;
  padding-right: 0.5rem;
}

.b .doba-box .last {
  margin-top: -1.25rem;
  border-bottom: 3px solid #1c2d90;
}

.absolute_Img {
  border-left: 0.5px solid #b1b1b1;
  height: 50vh;
  position: relative;
}

.absolute_Img img {
  height: 25rem;
  position: absolute;
  top: 20%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
          box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
}
/*# sourceMappingURL=style.css.map */