//colors
$main_b: #0079e9;
$second_b: #2a98fe;
//
////
////
////
////
////
////
////
////
////
//
.uvodka {
  min-height: 100vh;
  overflow: hidden;
  background: #a7ddeb;
  z-index: 5;

  .image-box {
    .cake1 {
      position: absolute;
      height: 10rem;
      left: 5%;
      top: 10%;
      z-index: -1;
    }
    .cake2 {
      position: absolute;
      height: 10rem;
      top: 80%;
      right: 10%;
      z-index: -1;
    }
    .cake3 {
      position: absolute;
      height: 10rem;
      left: 23%;
      bottom: -1%;
    }
    .cake4 {
      position: absolute;
      height: 10rem;
      left: 17.5%;
      top: 45%;
      z-index: -1;
    }
    .cake5 {
      position: absolute;
      height: 10rem;
      top: 5%;
      right: 7%;
      z-index: -1;
    }
    .cake6 {
      position: absolute;
      height: 10rem;
      top: 50%;
      z-index: -1;
      left: 73%;
    }
    .cake7 {
      position: absolute;
      height: 10rem;
      left: 5%;
      bottom: 10%;
      z-index: -1;
    }
  }

  .text-box {
    margin-top: 7.5vh;
    font-family: "Dancing Script", cursive;
    z-index: 5;
    color: rgb(241, 145, 0);

    h1 {
      font-size: 18rem;
    }
    h2 {
      font-size: 16rem;
      margin-top: -7.5rem;
    }
    h3 {
      font-size: 14rem;
      margin-top: -6rem;
    }
    p {
      font-size: 24px;
      padding: 0rem 20%;
    }
  }
  //btn
  .btn {
    background: $second_b;
    border-radius: 25px;
    padding: 0.2rem 2.5rem 0.2rem 2.5rem;
    font-size: 24px;
    margin-top: 2rem;
    color: #fff;
    --animate-duration: 1.5s;
    font-family: "Dancing Script", cursive;
    transition: 0.5s all ease-in-out;
  }
  .btn:hover {
    background: $main_b;
    color: #fff;
  }
}
//
//
.main_Content {
  height: 92.5vh;
  z-index: 3;
  .bigText-box {
    padding-top: 3rem;
    .bigText {
      font-size: 18rem;
      line-height: 15rem;
    }
  }
}
.main_Content2 {
  height: 92.5vh;
  background: rgb(97, 79, 79);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  .cakeAbsolute1 {
    height: 22rem;
    width: 40rem;
    object-fit: cover;
    margin-top: -1rem;
    z-index: 1;
  }
  .cakeAbsolute {
    height: 22rem;
    width: 40rem;
    object-fit: cover;
    margin-top: 2rem;
    z-index: 1;
  }
}

//informace
//swiper
.informace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
  }
}
.informace2 {
  height: 70vh;
  background: rgb(149, 129, 129);
  .textik {
    padding-top: 16%;
    h1 {
      color: white;
      font-size: 4rem;
    }
    p {
      letter-spacing: 0.5px;
      padding-top: 1rem;
    }
  }
}

//objednavky
//////
//
//
//
//
.objednavky {
  background: rgb(146, 145, 145);
  height: auto;
  .textik {
    padding-top: 7%;
    h1 {
      color: white;
      font-size: 4rem;
    }
    p {
      letter-spacing: 0.5px;
      padding-top: 1rem;
    }
  }
}
