@media (max-width: 575.98px) {
  hr {
    display: none;
  }
  .objednavky {
    height: 50vh;
    border-left: 0.5px solid rgb(177, 177, 177);
    .objednavka {
      height: 20vh;
      .zakusky {
        padding: 0rem 4rem 1rem 4rem;
        h1 {
          font-family: "EB Garamond", serif;
          font-weight: 100;
          font-size: 23px;
        }
        p {
          font-size: 12px;
          font-family: "EB Garamond", serif;
          word-spacing: -1px;
          letter-spacing: 0px;
          margin-top: -0.5rem;
          padding-right: 0;
        }
      }
      .dorty {
        padding: 0rem 4rem 1rem 4rem;
        h1 {
          font-family: "EB Garamond", serif;
          font-weight: 100;
          font-size: 23px;
        }
        p {
          font-size: 12px;
          font-family: "EB Garamond", serif;
          word-spacing: -1px;
          letter-spacing: 0px;
          margin-top: -0.5rem;
          padding-right: 0;
        }
      }
      .chlebicky {
        padding: 0rem 4rem 1rem 4rem;
        h1 {
          font-family: "EB Garamond", serif;
          font-weight: 100;
          font-size: 23px;
        }
        p {
          font-size: 12px;
          font-family: "EB Garamond", serif;
          font-weight: 300;
          word-spacing: -1px;
          letter-spacing: 0px;
          margin-top: -0.5rem;
          padding-right: 0;
        }
      }
    }
  }
}

//sm
@media (min-width: 576px) and (max-width: 767.98px) {
  hr {
    display: none;
  }
  .objednavky {
    height: 50vh;
    border-left: 0.5px solid rgb(177, 177, 177);
    .objednavka {
      height: max-content;
      .zakusky {
        padding: 1rem 4rem 1rem 7rem;
        h1 {
          font-family: "EB Garamond", serif;
          font-size: 26px;
        }
        p {
          font-size: 13px;
          font-family: "EB Garamond", serif;
          font-weight: 300;
          word-spacing: -1px;
          letter-spacing: 0px;
          margin-top: -0.5rem;
          padding-right: 0;
        }
      }
      .dorty {
        padding: 2rem 7rem 1rem 7rem;
        h1 {
          font-family: "EB Garamond", serif;
          font-size: 26px;
        }
        p {
          font-size: 13px;
          font-family: "EB Garamond", serif;
          font-weight: 300;
          word-spacing: -1px;
          letter-spacing: 0px;
          margin-top: -0.5rem;
          padding-right: 0;
        }
      }
      .chlebicky {
        padding: 2rem 7rem 1rem 7rem;
        h1 {
          font-family: "EB Garamond", serif;
          font-size: 26px;
        }
        p {
          font-size: 13px;
          font-family: "EB Garamond", serif;
          font-weight: 300;
          word-spacing: -1px;
          letter-spacing: 0px;
          margin-top: -0.5rem;
          padding-right: 0;
        }
      }
    }
  }
}

//lg
@media (min-width: 768px) and (max-width: 991.98px) {
  .objednavky {
    height: 50vh;
    border-left: 0.5px solid rgb(177, 177, 177);
    .objednavka {
      height: max-content;
      .zakusky {
        padding: 2rem 4rem 1rem 7rem;
        h1 {
          font-family: "EB Garamond", serif;
          font-weight: 100;
          font-size: 28px;
        }
        p {
          font-size: 14px;
          font-family: "EB Garamond", serif;
          font-weight: 300;
          word-spacing: -1px;
          letter-spacing: 0px;
          margin-top: -0.5rem;
          padding-right: 0;
        }
      }
      .dorty {
        padding: 2rem 7rem 1rem 7rem;
        h1 {
          font-family: "EB Garamond", serif;
          font-weight: 100;
          font-size: 28px;
        }
        p {
          font-size: 14px;
          font-family: "EB Garamond", serif;
          font-weight: 300;
          word-spacing: -1px;
          letter-spacing: 0px;
          margin-top: -0.5rem;
          padding-right: 0;
        }
      }
      .chlebicky {
        padding: 2rem 7rem 1rem 7rem;
        h1 {
          font-family: "EB Garamond", serif;
          font-weight: 100;
          font-size: 28px;
        }
        p {
          font-size: 14px;
          font-family: "EB Garamond", serif;
          font-weight: 300;
          word-spacing: -1px;
          letter-spacing: 0px;
          margin-top: -0.5rem;
          padding-right: 0;
        }
      }
    }
  }
}

//lg
@media (min-width: 992px) and (max-width: 1199.98px) {
  .objednavky {
    height: 50vh;
    border-left: 0.5px solid rgb(177, 177, 177);
    .objednavka {
      height: max-content;

      .zakusky {
        h1 {
          font-size: 25px;
        }
        p {
          font-size: 12px;
          padding-right: 2rem;
        }
      }
      .dorty {
        h1 {
          font-size: 25px;
        }

        p {
          padding-right: 2rem;
          font-size: 12px;
        }
      }
      .chlebicky {
        h1 {
          font-size: 25px;
        }

        p {
          padding-right: 2rem;
          font-size: 12px;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1479.98px) {
  .objednavky {
    height: 50vh;
    border-left: 0.5px solid rgb(177, 177, 177);
    display: flex;
    justify-content: center;
    align-items: center;
    .objednavka {
      height: max-content;
      padding: 3rem 0rem;
      .zakusky {
        padding-left: 3rem;
        p {
          padding-right: 1.99rem;
          font-size: 13px;
        }
      }
      .dorty {
        p {
          padding-right: 2rem;
          font-size: 13px;
        }
      }
      .chlebicky {
        padding-left: 5rem;
        p {
          padding-right: 2rem;
          font-size: 13px;
        }
      }
    }
  }
}
//@at-root
@media (max-width: 992.99px) {
  .objednavka_First {
    height: max-content;
    margin-top: 20vh;
  }
  .objednavka {
    padding: 1.5rem 0rem;
    display: flex;
    justify-content: center;
  }
}
