.main_Nav {
  background: rgb(211, 188, 188);
  height: 7.5vh;
  text-align: center;
  ul {
    padding-right: 10rem;
    li {
      padding-top: 1.5rem;
      display: inline-block;
      a {
        padding: 0rem 2rem;
        &:hover {
          color: white;
        }
      }
    }
  }
}
.menu-btn {
  display: none;
}

@media (max-width: 790px) {
  .menu-btn {
    display: block;
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    cursor: pointer;
  }
  ul {
    display: none;
  }
}
