.menu-btn {
  display: none;
}
.uvodka {
  min-height: 100vh;
  background: lightcoral;
  overflow: hidden;
  .navbar-sekce {
    background: transparent;
    height: 7.5vh;
    text-align: center;
    ul {
      li {
        padding-top: 1.5rem;
        display: inline-block;
        a {
          padding: 0rem 2rem;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: 790px) {
  .menu-btn {
    display: block;
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    cursor: pointer;
  }
  ul {
    display: none;
  }
}
