.main_Nav {
  background: #fff;
  position: relative;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid rgb(177, 177, 177);
  ul {
    li {
      display: inline-block;
      padding-top: 1.25rem;
      a {
        padding: 0rem 0.75rem;
        color: rgb(59, 59, 59);
        font-size: 11px;
        &:hover {
          color: rgb(0, 0, 0);
        }
      }
    }
  }
}

.fx1 {
  position: fixed;
  z-index: 2;
}

.menu-btn {
  display: none;
}

@media (max-width: 720px) {
  .menu-btn {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: block;
  }
  ul {
    display: none;
  }
}
